<app-upload-queue></app-upload-queue>

<div id="dropArea" (drop)="onDrop($event)" (dragleave)="onDragLeave()" (dragover)="onDragOver($event)" (dragend)="onDragEnd($event)" style="margin: 11px; padding: 11px; border: 2px dashed orange; background-color: gray; min-height: 200px; color: white;" class="">
  <div class="row justify-content-center">
      Upload photos to
      <span *ngIf="album">album {{album.name}} in </span>
      collection {{collection.name}}
  </div>
  <div class="row justify-content-center">
    <input type="file" class=".form-control-file btn-success" multiple accept="image/jpeg" (change)="filesSelected($event)">
  </div>
  <div class="row justify-content-center">
    {{message}}
  </div>
</div>
